@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,400&family=Poppins:wght@400;600&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}


input:focus {
    outline: none;
}

img {
    cursor: pointer;
}

body {
    border-top: 7px rgb(136, 27, 27) solid;
    background-color: rgb(247, 245, 245);
}

main {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

header img {
    width: auto;
    height: 60px;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 2rem;
    width: 25vw;
    min-width: 400px;
    max-width: 700px;
    height: 60px;
    line-height: 8vh;
    -webkit-box-shadow: 2px 3px 30px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 3px 30px -6px rgba(66, 68, 90, 1);
    box-shadow: 2px 3px 30px -6px rgba(66, 68, 90, 1);
    border-radius: 30px;
    background-color: #fff;
}

.inputBox input {
    border: none;
    padding-left: 1.5rem;
    width: 100%;
    font-size: 200%;
}

.icons {
    width: 4vw;
    min-width: 60px;
    /* background-color: #ddd; */
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.icons i {
    font-size: 1.5rem;
    color: #333
}

.icons button:first-child {
    border-right: 1px solid #ddd;
    padding: 1rem 2rem 1rem 0;
}

.menuHamburger {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
}

.menuHamburger i {
    font-size: 3rem;
}

.icons button,
.menuHamburger button {
    background-color: transparent;
    border: none;
}

h1,
h3,
h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #777;
    font-weight: normal;
}

.translatedWord {
    font-size: 1.6rem;
    color: #000;
    font-weight: normal;
}

.transContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 2rem 3rem;
    border: 1px solid #ddd;
    background-color: #fff;
}

.translation {
    border-right: 1px solid #ddd;
}

.translationOption {
    margin-bottom: 7rem;
}

.translationHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.translationHeader h2 {
    font-size: 2rem;
}

.translationPhoto {
    margin: 2rem 1rem;
    margin-bottom: 0;
    width: 15rem;
    height: auto;
}

.translationPhoto:hover ol li:first-child {
    background-color: rgba(216, 47, 47, .5);
}

.translatedWord a:hover {
    text-decoration: underline;
}

.wordClassType {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #444;
}

.desc,
.desc i,
.desc b {
    font-size: 1.5rem;
    margin-right: .6rem;
}

.desc,
.desc span {
    display: flex;
    align-items: center;
}

ol {
    margin-left: 1.5rem;
}

ol li {
    color: rgb(183, 14, 14);
    font-size: 1.5rem;
    padding: 1rem 0;
}

ol li p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}


.translatedWord,
.translatedWord span,
.example,
.example span {
    display: flex;
    align-items: center;
}

.translatedWord span {
    font-weight: normal;
    font-size: 1.1rem;
    color: #444;
}

.translatedWord a {
    color: rgb(0, 70, 210);
    text-decoration: none;
}

.example {
    padding: .2rem;
    font-weight: normal;
    color: #555;
}

.example span {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #999;
}




/* RIGHT SECTION RELATE PHRASES */

.relatePhrase {
    padding: 2rem;
}

.relatePhrase .wordClassType {
    margin-bottom: 1.5rem;
}

.relatePhrase ul {
    list-style-type: none;
}

.relatePhrase li {
    padding: 1rem 0;
}

.relatePhrase h3 {
    margin-bottom: 0;
}

.pharsal {
    display: flex;
    align-items: flex-start;
}

.wrap {

    flex-wrap: wrap;
}

.pharsal a {
    font-size: 1.5rem;
    text-decoration: none;
}

.engWord {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    color: rgb(35, 95, 214);
}


.transPharsal {
    color: black;
}

.sthWord {
    padding: 0.5rem 0.5rem 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.additional {
    color: #777;
    font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media(max-width: 1400px) {
    .transContainer {

        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    .translation {
        border: none
    }

}

@media(max-width: 600px) {
    * {
        font-size: 8px;
    }

    header {
        flex-flow: wrap;
    }

    header img {
        display: none;
    }

    .inputBox {
        padding: 0 10px;
        width: 90%;
        min-width: 250px;
        height: 5rem;
        line-height: 5vh;
    }

    .transContainer {
        display: block;
        width: 90vw;
    }

    h2+img {
        width: 30vw;
    }

    b+img {
        width: 20vw;
    }

    .desc span {
        display: flex;
        flex-flow: wrap;
        margin-left: 1rem;
    }
}

@media(max-width: 330px) {
    header {
        position: static;
        margin-top: 7rem;
        flex-direction: column;
        justify-content: space-between;
    }

    .inputBox {
        min-width: 200px;
    }

    .menuHamburger {
        top: 1rem;
        right: 1rem;
    }

    header+h1 {
        margin-top: 5rem;
    }
}